{% extends "layout.html" %} {% block content %}

<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container">
        <h1 class="mt-4">Inicio</h1>

         <!-- Page Content-->
         <div class="container px-4 px-lg-5">
          <!-- Heading Row-->
          <div class="row gx-4 gx-lg-5 align-items-center my-5">
              <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://pbs.twimg.com/media/F7M8epyXcAArnTv?format=jpg&name=medium" alt="..." /> <!--Colocar imagen-->
              </div>
              <div class="col-lg-5 text-center">
                  <h1 class="font-weight-light">Banco de alimentos de Barranquilla</h1>
                  <p>
                    Somos el Banco de Alimentos de la Arquidiócesis de Barranquilla. 
                  </p>
                  <p>
                    Ayudamos a erradicar mucho más que el hambre en el Atlántico.
                  </p>
              </div>
          </div>
          <!-- Call to Action-->
          <div class="card text-white bg-secondary my-5 py-4">
              <div class="card-body">
                <p class="text-white m-10">
                  Los Bancos de alimentos son organizaciones que se encargan de
                  rescatar los excedentes alimentarios del sector agropecuario,
                  industrial, comercial, hotelero, restaurantes, personas naturales
                  y de su distribución a la población en situación de
                  vulnerabilidad, evitando que cada año en Colombia se desperdicien
                  más de 25000 toneladas de comida apta para el consumo humano y así
                  combatir la inseguridad alimentaria. En Colombia actualmente
                  existen 24 bancos de alimentos a lo largo del país los cuales se
                  encuentran en la Asociación de Bancos de Alimentos de Colombia
                  (ABACO).
                </p>
                <p class="text-white m-0">
                  El Banco de Alimentos de la Pastoral Social-Arquidiócesis de
                  Barranquilla es una organización sin ánimos de lucro cuya misión
                  es ayudar a reducir el hambre y a las personas vulnerables de
                  bajos recursos. Su principal objetivo es recolectar alimentos,
                  vestimentas y otros productos a través de diferentes empresas o
                  entidades del departamento del Atlántico. Actualmente el Banco de
                  alimentos de Barranquilla cuenta con 70937 beneficiarios y
                  empresas donantes, algunas de ellas como Alpina, Alquería, Ara,
                  Éxito, Olímpica y entre otras.
                </p>
              </div>
          </div>
          <!-- Content Row-->
          <div class="row gx-4 gx-lg-5">
              <div class="col-md-4 mb-5">
                  <div class="card h-100">
                      <div class="card-body text-center">
                          <h2 class="card-title">Misión</h2>
                          <p class="card-text">
                            Somos una institución de la Arquidiócesis de Barranquilla que, iluminada por el Evangelio y la Doctrina de las Iglesia Católica, desarrolla su obra social mediante programas y proyectos que buscan el mejoramiento de la calidad de vida de las comunidades vulnerables intervenidas sin distinción de género, raza y credo religioso.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 mb-5">
                  <div class="card h-100">
                      <div class="card-body text-center">
                          <h2 class="card-title">Visión</h2>
                          <p class="card-text">
                            Al finalizar el año 2025, el Secretariado de Pastoral Social- Caritas de la Arquidiócesis de Barranquilla ha contribuido al fortalecimiento de comunidades evangelizadas y evangelizadoras, desarrolladas integralmente desde la promoción de la caridad, la solidaridad, la justicia y la equidad social, para la dignificación de la vida humana, y ha hecho un aporte significativo a la paz.
                          </p>
                      </div>
                  </div>
              </div>
              <div class="col-md-4 mb-5">
                  <div class="card h-100">
                      <div class="card-body">
                          <h2 class="card-title text-center">Nuestro quehacer</h2>
                          <ul>
                            <li>Asistencia humanitaria.</li>
                            <li>Asistencia humanitaria.</li>
                            <li>Ejecución de programas y proyectos sociales.</li>
                            <li>Orientación, fortalecimiento y apoyo en a los Comités Parroquiales de Pastoral Social (COPPAS).</li>
                            <li>Acompañar en el fortalecimiento a otras Diócesis, a partir de transferencias metodológicas propias.</li>
                            <li>Participación como Iglesia en el desarrollo de programas y estrategias interinstitucionales en la jurisdicción de la Arquidiócesis de Barranquilla.</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Universidad Libre 2023</div>
        </div>
      </div>
    </footer>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
  integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>

{% endblock %}
