{% extends "layout.html" %} {% block content %}

<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Inicio</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item">
            <a href="/inicio">Sistema de inventario</a>
          </li>
        </ol>
        <div class="container">
          <div class="card mb-4">
            <div class="card-body">
              <h2>
                Aplicativo web para la gestión de inventario del Banco de
                Alimentos de Barranquilla
              </h2>
              <p>
                Los Bancos de alimentos son organizaciones que se encargan de
                rescatar los excedentes alimentarios del sector agropecuario,
                industrial, comercial, hotelero, restaurantes, personas naturales
                y de su distribución a la población en situación de
                vulnerabilidad, evitando que cada año en Colombia se desperdicien
                más de 25000 toneladas de comida apta para el consumo humano y así
                combatir la inseguridad alimentaria. En Colombia actualmente
                existen 24 bancos de alimentos a lo largo del país los cuales se
                encuentran en la Asociación de Bancos de Alimentos de Colombia
                (ABACO).
              </p>
              <p>
                El Banco de Alimentos de la Pastoral Social-Arquidiócesis de
                Barranquilla es una organización sin ánimos de lucro cuya misión
                es ayudar a reducir el hambre y a las personas vulnerables de
                bajos recursos. Su principal objetivo es recolectar alimentos,
                vestimentas y otros productos a través de diferentes empresas o
                entidades del departamento del Atlántico. Actualmente el Banco de
                alimentos de Barranquilla cuenta con 70937 beneficiarios y
                empresas donantes, algunas de ellas como Alpina, Alquería, Ara,
                Éxito, Olímpica y entre otras.
              </p>
            </div>
          </div>
        </div>
        
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Universidad Libre 2023</div>
        </div>
      </div>
    </footer>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
  integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
  crossorigin="anonymous"
></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>

{% endblock %}
