{% extends "layout.html" %}

{%  block content %}

<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
  <!-- Navbar Brand-->
  <a class="navbar-brand ps-3" href="/inicio">Banco de alimentos</a>
  <!-- Sidebar Toggle-->
  <button
    class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
    id="sidebarToggle"
    href="#!"
  >
    <i class="fas fa-bars"></i>
  </button>
  <!-- Navbar Search-->
  <form
    class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"
  >
    <div class="input-group">
      <input
        class="form-control"
        type="text"
        placeholder="Search for..."
        aria-label="Search for..."
        aria-describedby="btnNavbarSearch"
      />
      <button class="btn btn-primary" id="btnNavbarSearch" type="button">
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdown"
        href="#"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        ><i class="fas fa-user fa-fw"></i
      ></a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdown"
      >
        <li><a class="dropdown-item" href="#!">Configuración</a></li>
        <li><a class="dropdown-item" href="#!">Cerrar sesión</a></li>
      </ul>
    </li>
  </ul>
</nav>

<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <a class="nav-link" href="index.html">
            <div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Principal
          </a>
          <div class="sb-sidenav-menu-heading">Inventario</div>
          <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#collapseLayouts"
            aria-expanded="false"
            aria-controls="collapseLayouts"
          >
            <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
            Entradas
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i>
            </div>
          </a>
          <div
            class="collapse"
            id="collapseLayouts"
            aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion"
          >
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" href="/pagina_entradas">Ver entradas</a>
            </nav>
          </div>
          <a
            class="nav-link collapsed"
            href="#"
            data-bs-toggle="collapse"
            data-bs-target="#collapsePages"
            aria-expanded="false"
            aria-controls="collapsePages"
          >
            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
            Salidas
            <div class="sb-sidenav-collapse-arrow">
              <i class="fas fa-angle-down"></i>
            </div>
          </a>
          <div
            class="collapse"
            id="collapsePages"
            aria-labelledby="headingTwo"
            data-bs-parent="#sidenavAccordion"
          >
            <nav
              class="sb-sidenav-menu-nested nav accordion"
              id="sidenavAccordionPages"
            >
              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#pagesCollapseAuth"
                aria-expanded="false"
                aria-controls="pagesCollapseAuth"
              >
                Ver salidas
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
              <!--
                <div
                  class="collapse"
                  id="pagesCollapseAuth"
                  aria-labelledby="headingOne"
                  data-bs-parent="#sidenavAccordionPages"
                >
                  <nav class="sb-sidenav-menu-nested nav">
                    <a class="nav-link" href="login.html">Login</a>
                    <a class="nav-link" href="register.html">Register</a>
                    <a class="nav-link" href="password.html">Forgot Password</a>
                  </nav>
                </div>
                -->

              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#pagesCollapseError"
                aria-expanded="false"
                aria-controls="pagesCollapseError"
              >
                Mermas
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i>
                </div>
              </a>
            </nav>
          </div>
          <div class="sb-sidenav-menu-heading">Informes</div>
          <a class="nav-link" href="charts.html">
            <div class="sb-nav-link-icon">
              <i class="fas fa-chart-area"></i>
            </div>
            Informe general
          </a>
          <a class="nav-link" href="tables.html">
            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Informe por bodega
          </a>
        </div>
      </div>
    </nav>
  </div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Entradas</h1>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="index.html">Entradas</a></li>
          <li class="breadcrumb-item active">Ver entradas</li>
        </ol>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Nuevas entradas
          </div>
          <div class="card-body">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id entrada</th>
                    <th scope="col">Id benefactor</th>
                    <th scope="col">Id categoria</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cantidad (peso)</th>
                    <th scope="col">Cantidad (unidades)</th>
                    <th scope="col">Unidad de medidas</th>
                    <th scope="col">Bodega</th>
                    <th scope="col">Proceso de inventarios</th>
                    <th scope="col">Id del vehículo</th>
                    <th scope="col">Número de factura</th>
                    <th scope="col">Ingresado a Siigo</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Número de documento Siigo</th>
                    <th scope="col">Cantidad averiada o vencida</th>
                    <th scope="col">Cantidad en buen estado</th>
                    <th scope="col">Cantidad aprobada</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col" colspan="2"><center>Opciones</center></th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in entradas %}
                  <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.id_benefactor}}</td>
                    <td>{{item.id_categoria}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.cantidad_peso}}</td>
                    <td>{{item.cantidad_unidades}}</td>
                    <td>{{item.unidad_de_medida}}</td>
                    <td>{{item.bodega}}</td>
                    <td>{{item.proceso_de_inventarios}}</td>
                    <td>{{item.id_vehiculo}}</td>
                    <td>{{item.num_factura}}</td>
                    <td>{{item.ingresado_al_sistema}}</td>
                    <td>{{item.tipo}}</td>
                    <td>{{item.num_documento_siigo}}</td>
                    <td>{{item.cantidad_averiada_vencida_kg}}</td>
                    <td>{{item.cantidad_buen_estado_kg}}</td>
                    <td>{{item.cantidad_aprobada_kg}}</td>
                    <td>{{item.observaciones}}</td>
                    <td>
                      <a
                        onclick="actualizar('{{item.id}}')"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        class="btn btn-primary btn-sm rounded-0"
                        >Actualizar</a
                      >
                    </td>
                    <td>
                      <a
                        onclick="eliminar('{{item.id}}')"
                        class="btn btn-danger btn-sm rounded-0"
                        >eliminar</a
                      >
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <script>
                function eliminar(id) {
                  url = "/eliminar_entrada";
                  var request = $.ajax({
                    contentType: "application/json",
                    dataType: "json", //Expected data format from server
                    method: "GET",
                    data: { id },
                    url: url,
                  });
                  request.done(function (data) {
                    alert("Datos Eliminado");
                    window.location.href = "/pagina_entradas";
                  });
                  request.fail(function (jqXHR, textStatus) {
                    alert("Error" + textStatus);
                  });
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
          <div class="text-muted">Copyright &copy; Your Website 2023</div>
          <div>
            <a href="#">Privacy Policy</a>
            &middot;
            <a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  crossorigin="anonymous"
></script>
<script src="js/scripts.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
  crossorigin="anonymous"
></script>
<script src="js/datatables-simple-demo.js"></script>

{% endblock %}