{% extends "layout.html" %}

{%  block content %}

{% include('modal.html') %}

<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Entradas</h1>
        <a onclick="cargar_formulario()" class="btn btn-primary btn-block mb-4"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Nueva entrada</a>
        <ol class="breadcrumb mb-4">
          <li class="breadcrumb-item"><a href="index.html">Sistema de inventario</a></li>
          <li class="breadcrumb-item active">Entradas</li>
        </ol>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Listado de entradas
          </div>
          <div class="card-body">
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Id entrada</th>
                    <th scope="col">Id benefactor</th>
                    <th scope="col">Id categoria</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Cantidad (peso)</th>
                    <th scope="col">Cantidad (unidades)</th>
                    <th scope="col">Unidad de medidas</th>
                    <th scope="col">Fecha de vencimiento</th>
                    <th scope="col">Proceso de inventarios</th>
                    <th scope="col">Id del vehículo</th>
                    <th scope="col">Número de factura</th>
                    <th scope="col">Ingresado a Siigo</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Número de documento Siigo</th>
                    <th scope="col">Cantidad averiada o vencida</th>
                    <th scope="col">Cantidad en buen estado</th>
                    <th scope="col">Cantidad aprobada</th>
                    <th scope="col">Observaciones</th>
                    <th scope="col" colspan="2"><center>Opciones</center></th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in entradas %}
                  <tr>
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.id_benefactor}}</td>
                    <td>{{item.id_subcategoria}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.cantidad_peso}}</td>
                    <td>{{item.cantidad_unidades}}</td>
                    <td>{{item.unidad_de_medida}}</td>
                    <td>{{item.vencimiento}}</td>
                    <td>{{item.proceso_de_inventarios}}</td>
                    <td>{{item.id_vehiculo}}</td>
                    <td>{{item.num_factura}}</td>
                    <td>{{item.ingresado_al_sistema}}</td>
                    <td>{{item.tipo}}</td>
                    <td>{{item.num_documento_siigo}}</td>
                    <td>{{item.cantidad_averiada_vencida_kg}}</td>
                    <td>{{item.cantidad_buen_estado_kg}}</td>
                    <td>{{item.cantidad_aprobada_kg}}</td>
                    <td>{{item.observaciones}}</td>
                    <td>
                      <a
                        onclick="actualizar('{{item.id}}')"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        class="btn btn-primary btn-sm rounded-0"
                        >Actualizar</a
                      >
                    </td>
                    <td>
                      <a
                        onclick="eliminar('{{item.id}}')"
                        class="btn btn-danger btn-sm rounded-0"
                        >eliminar</a
                      >
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

              <script>
                function cargar_formulario(){
                  const formulario = `
                          <form action="/guardar_entrada" method="POST">
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Id del benefactor:</label>
                              <input type="text" class="form-control" name="id_benefactor"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Id_subcategoria:</label>
                              <input type="text" class="form-control" name="id_subcategoria"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Fecha:</label>
                              <input type="text" class="form-control" name="fecha"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Cantidad (peso):</label>
                              <input type="text" class="form-control" name="cantidad_peso"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Cantidad (unidades):</label>
                              <input type="text" class="form-control" name="cantidad_unidades"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Unidad de medida:</label>
                              <input type="text" class="form-control" name="unidad_de_medida"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Días para el vencimiento:</label>
                              <input type="text" class="form-control" name="vencimiento"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Observaciones:</label>
                              <input type="text" class="form-control" name="observaciones"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">¿Procesado en inventarios?:</label>
                              <input type="text" class="form-control" name="proceso_de_inventarios"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Id del vehículo:</label>
                              <input type="text" class="form-control" name="id_vehiculo"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Número de factura:</label>
                              <input type="text" class="form-control" name="num_factura"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">¿Ingresado al sistema?:</label>
                              <input type="text" class="form-control" name="ingresado_al_sistema"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Tipo:</label>
                              <input type="text" class="form-control" name="tipo"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Número de documento en SIIGO:</label>
                              <input type="text" class="form-control" name="num_documento_siigo"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Kilogramos averiados/vencidos:</label>
                              <input type="text" class="form-control" name="cantidad_averiada_vencida_kg"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Kilogramos en buen estado:</label>
                              <input type="text" class="form-control" name="cantidad_buen_estado_kg"  value="">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Kilogramos aprobados:</label>
                              <input type="text" class="form-control" name="cantidad_aprobada_kg"  value="">
                            </div>
                            <div class="modal-footer">
                              <button  type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                          </form> 
                  `;
                  $("#fromartc").html(formulario);
              }

                function eliminar(id) {
                  url = "/eliminar_entrada";
                  var request = $.ajax({
                    contentType: "application/json",
                    dataType: "json", //Expected data format from server
                    method: "GET",
                    data: { id },
                    url: url,
                  });
                  request.done(function (data) {
                    alert("Datos Eliminado");
                    window.location.href = "/pagina_entradas";
                  });
                  request.fail(function (jqXHR, textStatus) {
                    alert("Error" + textStatus);
                  });
                }

                function actualizar(id){
                  url = '/entradas';
                  var request = $.ajax({
                      contentType:"application/json",
                      dataType: "json", //Expected data format from server  
                      method: "GET",
                      data: { id},
                      url: url      
                  });
                  request.done(function( data ) {
                      const formulario = `
                          <form action="/actualizar_entrada" method="POST">
                              <input type="hidden" class="form-control" name="id"  value="${data.id}">
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Id del benefactor:</label>
                              <input type="text" class="form-control" name="id_benefactor"  value="${data.id_benefactor}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Id_subcategoria:</label>
                              <input type="text" class="form-control" name="id_subcategoria"  value="${data.id_subcategoria}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Fecha:</label>
                              <input type="text" class="form-control" name="fecha"  value="${data.fecha}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Cantidad (peso):</label>
                              <input type="text" class="form-control" name="cantidad_peso"  value="${data.cantidad_peso}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Cantidad (unidades):</label>
                              <input type="text" class="form-control" name="cantidad_unidades"  value="${data.cantidad_unidades}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Unidad de medida:</label>
                              <input type="text" class="form-control" name="unidad_de_medida"  value="${data.unidad_de_medida}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Días para el vencimiento:</label>
                              <input type="text" class="form-control" name="vencimiento"  value="${data.vencimiento}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Observaciones:</label>
                              <input type="text" class="form-control" name="observaciones"  value="${data.observaciones}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">¿Procesado en inventarios?:</label>
                              <input type="text" class="form-control" name="proceso_de_inventarios"  value="${data.proceso_de_inventarios}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Id del vehículo:</label>
                              <input type="text" class="form-control" name="id_vehiculo"  value="${data.id_vehiculo}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Número de factura:</label>
                              <input type="text" class="form-control" name="num_factura"  value="${data.num_factura}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">¿Ingresado al sistema?:</label>
                              <input type="text" class="form-control" name="ingresado_al_sistema"  value="${data.ingresado_al_sistema}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Tipo:</label>
                              <input type="text" class="form-control" name="tipo"  value="${data.tipo}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Número de documento en SIIGO:</label>
                              <input type="text" class="form-control" name="num_documento_siigo"  value="${data.num_documento_siigo}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Kilogramos averiados/vencidos:</label>
                              <input type="text" class="form-control" name="cantidad_averiada_vencida_kg"  value="${data.cantidad_averiada_vencida_kg}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Kilogramos en buen estado:</label>
                              <input type="text" class="form-control" name="cantidad_buen_estado_kg"  value="${data.cantidad_buen_estado_kg}">
                            </div>
                            <div class="form-group">
                              <label for="message-text" class="col-form-label">Kilogramos aprobados:</label>
                              <input type="text" class="form-control" name="cantidad_aprobada_kg"  value="${data.cantidad_aprobada_kg}">
                            </div>
                            <div class="modal-footer">
                              <button  type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                          </form> 
                  `;
                  $("#fromartc").html(formulario);             
                  });
                  request.fail(function( jqXHR, textStatus ) {
                      alert( "Error" + textStatus );
                  });
              }

              </script>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid px-4">
          <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Universidad Libre 2023</div>
          </div>
      </div>
  </footer>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  crossorigin="anonymous"
></script>
<script src="js/scripts.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
  crossorigin="anonymous"
></script>
<script src="js/datatables-simple-demo.js"></script>

{% endblock %}