{% extends "layout.html" %}

{%  block content %}

<style>
    .table-striped tbody tr:nth-child(odd) {
        background-color: #d4dd9d;
    }
</style>

<div id="layoutSidenav">
    <main>
        <div class="container">
            <h1 class="mt-4">Inventario</h1>
            <form action="/inventario_por_bodega" method="POST">
                <div class="row">
                    <div class="col">
                      <label for="message-text" class="col-form-label">Bodega:</label>
                    </div>
                    <div class="col">
                      <select class="form-control" name="bodega">
                          {% for item in bodegas %}
                              <option>{{item.nombre}}</option>  
                          {% endfor %}
                      </select>
                    </div>
                    <div class="col">
                      <button style="background-color: #A9BA3B;color: black;" type="submit" class="btn btn-primary mb-3 border-0">Buscar</button>
                    </div>
                </div>
            </form>
            

          <div class="card mb-4">
            <div class="card-header" style="background-color: #A9BA3B;color: black;">
              <i class="fas fa-table me-1"></i>
              Listado de productos
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Descripción</th>
                      <th scope="col">Categoría</th>
                      <th scope="col">Subcategoría</th>
                      <th scope="col">Fecha de vencimiento</th>
                      <th scope="col">Existencias</th>
                      <th scope="col">Peso</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in productos_inventario %}
                    <tr>
                      <th scope="row">{{item.descripcion}}</th>
                      <td>{{item.categoria}}</td>
                      <td>{{item.subcategoria}}</td>
                      <td>{{item.vencimiento}}</td>
                      <td>{{item.cantidad_unidades}}</td>
                      <td>{{item.peso}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Universidad Libre 2023</div>
            </div>
        </div>
      </footer>
    </div>
  </div>
  
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"
  ></script>
  <script src="js/scripts.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"
  ></script>
  <script src="js/datatables-simple-demo.js"></script>

{% endblock %}