{% extends "layout.html" %}

{%  block content %}

{% include('modal.html') %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Nuevas Salidas</h1>
    </div>
    <form action="/guardar_salida" method="POST">
    <div class="container-fluid">
        <div class="card mb-5">
            <div class="card-header">
                <label class="">Datos generales de la salida</label>
            </div>
            
            <div class="class-body container-fluid">
                <form action="/guardar_entrada" method="POST">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Beneficiario:</label>
                        <select class="form-control" name="beneficiario">
                            {% for item in beneficiarios %}
                                <option>{{item.nombre}}</option>  
                            {% endfor %}
                        </select>
                        <a onclick="cargar_formulario_beneficiario()" class="btn btn-primary btn-block mb-4"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Nuevo beneficiario
                        </a>
                    </div>
                    
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Fecha:</label>
                        <input data-date-format="yyyy-mm-dd" name="fecha_datepicker" id="datepicker">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Tipo:</label>
                        <select class="form-control" name="tipo">
                            <option value="fundacion">A fundación</option>
                            <option value="persona">A persona</option>
                            <option value="merma">Merma</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">¿Ingresado en SIIGO?:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="siigo" value="n" id="n" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                              No
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="siigo" value="s" id="s">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Si
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Número de documento en SIIGO:</label>
                        <input type="text" class="form-control" name="num_doc_siigo"  value="">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Observaciones:</label>
                        <textarea type="text" class="form-control" name="observaciones"></textarea>
                    </div>
                    <button  type="submit" class="btn btn-primary">Guardar salida</button>
                </form>
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="card mb-5">
            <div class="card-header">
                <label>Datos de los productos</label>
            </div>

            <div class="card-body container-fluid">
                <form action="/nuevo_producto_salida" method="POST">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Salida id:</label>
                        <select class="form-control" name="salida">
                            {% for item in salidas %}
                                <option>{{item.id}}</option>  
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Producto:</label>
                        <select class="form-control" name="producto_inventario">
                            {% for item in productos_inventario %}
                                <option>{{item.id}}</option>  
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Cantidad:</label>
                        <input type="text" class="form-control" name="cantidad_unidades"  value="">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Peso:</label>
                        <input type="text" class="form-control" name="peso"  value="">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Aporte solidario:</label>
                        <input type="text" class="form-control" name="aporte_solidario"  value="">
                    </div>
                    <button  type="submit" class="btn btn-primary">Agregar producto</button>
                </form>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Listado de productos
        </div>
        <div class="card-body">
            <form action="/cargar_productos_por_entrada" method="POST">
                <div class="row align-items-start">
                  <div class="col form-group">
                    <label for="message-text" class="col-form-label">Salida:</label>
                    <select class="form-control" name="entrada_para_lista">
                        {% for item in salidas %}
                            <option>{{item.id}}</option>  
                        {% endfor %}
                    </select>
                </div>
                  <div class="col align-self-center">
                    <button  type="submit" class="btn btn-primary">Buscar</button>
                  </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Id salida</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Peso</th>
                        <th scope="col">Aporte solidario</th>
                        <th scope="col" colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in productos_salida %}
                    <tr>
                        <td scope="row">{{item.id_producto}}</td>
                        <td scope="row">{{item.id_salida}}</td>
                        <td scope="row">{{item.cantidad_unidades}}</td>
                        <td scope="row">{{item.peso}}</td>
                        <td scope="row">{{item.aporte_solidario}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </form> 

  <script>
    function cargar_formulario_beneficiario(){
        const formulario = `
            <form action="/nuevo_beneficiario" method="POST">
                <h4>
                    Nuevo beneficiario
                </h4>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <input type="text" class="form-control" name="nombre"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nit o cédula:</label>
                    <input type="text" class="form-control" name="cc"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Contacto:</label>
                    <input type="text" class="form-control" name="contacto"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Dirección:</label>
                    <input type="text" class="form-control" name="direccion"  value="">
                </div>
                    <div class="modal-footer">
                        <button  type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form> 
        `;
        $("#fromartc").html(formulario);
        }
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script type="text/javascript">
    $('#datepicker').datepicker({
        language: 'ES',
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
        
    });
    $('#datepicker').datepicker("setDate", new Date());
    $('#datepicker_venc').datepicker({
        language: 'ES',
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
        
    });
    $('#datepicker_venc').datepicker("setDate", new Date());
    </script>


{% endblock %}