{% extends "layout.html" %}

{%  block content %}

{% include('modal.html') %}

<style>
    .table-striped tbody tr:nth-child(odd) {
        background-color: #d4dd9d;
    }
</style>

    <div class="container">
        <h1 class="mt-4">Nuevas Salidas</h1>
    </div>
    <form action="/guardar_salida" method="POST">
    <div class="container">
        <div class="card mb-5">
            <div class="card-header" style="background-color: #A9BA3B;color: black;">
                <label class="">Datos generales de la salida</label>
            </div>
            
            <div class="class-body container-fluid">
                <form action="/guardar_entrada" method="POST">
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Beneficiario:</label>
                            </div>
                            <div class="col">
                                <select class="form-control" name="beneficiario">
                                    {% for item in beneficiarios %}
                                        <option>{{item.nombre}}</option>  
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                <a onclick="cargar_formulario_beneficiario()" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Nuevo beneficiario
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Fecha:</label>
                            </div>
                            <div class="col">
                                <input data-date-format="yyyy-mm-dd" name="fecha_datepicker" id="datepicker">
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Tipo:</label>
                            </div>
                            <div class="col">
                                <select class="form-control" name="tipo">
                                    <option value="fundacion">A fundación</option>
                                    <option value="persona">A persona</option>
                                    <option value="merma">Merma</option>
                                </select>
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">¿Ingresado en SIIGO?:</label>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="siigo" value="n" id="n" checked>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      No
                                    </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="siigo" value="s" id="s">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                      Si
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Número de documento en SIIGO:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="num_doc_siigo"  value="">
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Observaciones:</label>
                            </div>
                            <div class="col">
                                <textarea type="text" class="form-control" name="observaciones"></textarea>
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <button  type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Guardar salida</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="card mb-5">
            <div class="card-header" style="background-color: #A9BA3B;color: black;">
                <label>Datos de los productos</label>
            </div>

            <div class="card-body container-fluid">
                <form action="/nuevo_producto_salida" method="POST">
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Salida id:</label>
                            </div>
                            <div class="col">
                                <select class="form-control" name="salida">
                                    {% for item in salidas %}
                                        <option>{{item.id}}</option>  
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="recipient-name" class="col-form-label">Producto:</label>
                            </div>
                            <div class="col">
                                <select class="form-control" name="producto_inventario">
                                    {% for item in productos_inventario %}
                                        <option>{{item.id}}</option>  
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Cantidad:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="cantidad_unidades"  value="">
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Peso:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="peso"  value="">
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row p-2">
                            <div class="col">
                                <label for="message-text" class="col-form-label">Aporte solidario:</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" name="aporte_solidario"  value="">
                            </div>
                            <div class="col">
                                
                            </div>
                        </div>
                    </div>
                    <div class="py-2">
                        <button  type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Agregar producto</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card mb-4">
            <div class="card-header" style="background-color: #A9BA3B;color: black;">
                <i class="fas fa-table me-1"></i>
                Listado de productos
            </div>
            <div class="card-body">
                <form action="/cargar_productos_por_entrada" method="POST">
                    <div class="row align-items-start">
                        <div class="col form-group">
                            <div class="row p-2">
                                <div class="col">
                                    <label for="message-text" class="col-form-label">Salida:</label>
                                </div>
                                <div class="col">
                                    <select class="form-control" name="entrada_para_lista">
                                        {% for item in salidas %}
                                            <option>{{item.id}}</option>  
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col">
                                    <button  type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Id salida</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Peso</th>
                            <th scope="col">Aporte solidario</th>
                            <th scope="col" colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in productos_salida %}
                        <tr>
                            <td scope="row">{{item.id_producto_inventario}}</td>
                            <td scope="row">{{item.id_salida}}</td>
                            <td scope="row">{{item.cantidad_unidades}}</td>
                            <td scope="row">{{item.peso}}</td>
                            <td scope="row">{{item.aporte_solidario}}</td>
                            <td>
                                <a
                                    onclick="actualizar_producto_salida('{{item.id}}')"
                                    data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop"
                                    class="btn btn-warning btn-sm"
                                    >Actualizar
                                </a>
                            </td>
                            <td>
                                <a
                                    onclick="eliminar_producto_salida('{{item.id}}')"
                                    class="btn btn-danger btn-sm">
                                    eliminar
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
  </form> 

  <script>
    function cargar_formulario_beneficiario(){
        const formulario = `
            <form action="/nuevo_beneficiario" method="POST">
                <h4>
                    Nuevo beneficiario
                </h4>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <input type="text" class="form-control" name="nombre"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nit o cédula:</label>
                    <input type="text" class="form-control" name="cc"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Contacto:</label>
                    <input type="text" class="form-control" name="contacto"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Dirección:</label>
                    <input type="text" class="form-control" name="direccion"  value="">
                </div>
                    <div class="modal-footer">
                        <button  type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form> 
        `;
        $("#fromartc").html(formulario);
        }

        function eliminar_producto_salida(id){
            url = '/eliminar_producto_salida';
            var request = $.ajax({
                contentType:"application/json",
                dataType: "json", //Expected data format from server  
                method: "GET",
                data: { id},
                url: url      
            });
            request.done(function( data ) {
                alert("Datos Eliminado")
                window.location.href = "/pagina_nueva_salida";                
            });
            request.fail(function( jqXHR, textStatus ) {
                alert( "Error" + textStatus );
            });
        }

        function actualizar_producto_salida(id){
            url = '/productos_salida';
            var request = $.ajax({
                contentType:"application/json",
                dataType: "json", //Expected data format from server  
                method: "GET",
                data: { id},
                url: url      
            });
            request.done(function( data ) {
                const formulario = `
                  <form action="/actualizar_producto_salida" method="POST">
                    <input type="hidden" class="form-control" name="id"  value="${data.id}">
                    <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Id entrada:</label>
                      <input type="text" class="form-control" name="id_salida"  value="${data.id_salida}">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">id_producto_inventario:</label>
                      <input type="text" class="form-control" name="id_producto_inventario"  value="${data.id_producto_inventario}">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Cantidad:</label>
                      <input type="text" class="form-control" name="cantidad_unidades"  value="${data.cantidad_unidades}">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Peso:</label>
                      <input type="text" class="form-control" name="peso"  value="${data.peso}">
                    </div>
                    <div class="form-group">
                      <label for="message-text" class="col-form-label">Aporte_solidario:</label>
                      <input type="text" class="form-control" name="aporte_solidario"  value="${data.aporte_solidario}">
                    </div>
                    <div class="modal-footer">
                      <button  type="submit" style="background-color: #A9BA3B;color: black;" type="submit" class="btn btn-primary mb-3 border-0">Guardar</button>
                    </div>
                  </form> 
            `;
            $("#fromartc").html(formulario);             
            });
            request.fail(function( jqXHR, textStatus ) {
                alert( "Error" + textStatus );
            });
        }

  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script type="text/javascript">
    $('#datepicker').datepicker({
        language: 'ES',
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
        
    });
    $('#datepicker').datepicker("setDate", new Date());
    $('#datepicker_venc').datepicker({
        language: 'ES',
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
        
    });
    $('#datepicker_venc').datepicker("setDate", new Date());
    </script>


{% endblock %}