{% extends "layout.html" %}

{%  block content %}

{% include('modal.html') %}

<style>
    .table-striped tbody tr:nth-child(odd) {
        background-color: #d4dd9d;
    }
</style>

    <div class="container">
        <h1 class="mt-4">Nuevas Entradas</h1>
    </div>
    <form action="/guardar_entrada" method="POST">
    <div class="container">
        <div class="card mb-5">
            <div class="card-header" style="background-color: #A9BA3B;color: black;">
                <label class="">Datos generales de la entrada</label>
            </div>
            
            <div class="class-body container-fluid">
                <form action="/guardar_entrada" method="POST">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Benefactor:</label>
                        <select class="form-control" name="benefactor">
                            {% for item in benefactores %}
                                <option>{{item.nombre}}</option>  
                            {% endfor %}
                        </select>
                        <a onclick="cargar_formulario_benefactor()" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Nuevo benefactor
                        </a>
                    </div>
                    
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Fecha:</label>
                        <input data-date-format="yyyy-mm-dd" name="fecha_datepicker" id="datepicker">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">¿Procesado en inventarios?:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="proceso_de_inventarios" value="n" id="n" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                              No
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="proceso_de_inventarios" value="s" id="s">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Si
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Vehículo:</label>
                        <select class="form-control" name="vehiculo">
                            {% for item in vehiculos %}
                                <option>{{item.matricula}}</option>  
                            {% endfor %}
                        </select>
                        <a onclick="cargar_formulario_vehiculo()" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Nuevo vehículo
                        </a>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Número de factura:</label>
                        <input type="text" class="form-control" name="num_factura"  value="">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">¿Ingresado al sistema?:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ingresado_al_sistema" value="n" id="n" checked>
                            <label class="form-check-label" for="flexRadioDefault1">
                              No
                            </label>
                          </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="ingresado_al_sistema" value="s" id="s">
                            <label class="form-check-label" for="flexRadioDefault1">
                              Si
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Tipo:</label>
                        <input type="text" class="form-control" name="tipo"  value="">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Número de documento en SIIGO:</label>
                        <input type="text" class="form-control" name="num_documento_siigo"  value="">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Observaciones:</label>
                        <textarea type="text" class="form-control" name="observaciones"></textarea>
                    </div>
                    <button  type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Guardar entrada</button>
                </form>
            </div>
        </div>
        
    </div>
    
    <div class="container">
        <div class="card mb-5">
            <div class="card-header" style="background-color: #A9BA3B;color: black;">
                <label>Datos de los productos</label>
            </div>

            <div class="card-body container-fluid">
                <form action="/nuevo_producto_inventario" method="POST">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Entrada id:</label>
                        <select class="form-control" name="entrada">
                            {% for item in entradas %}
                                <option>{{item.id}}</option>  
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Producto:</label>
                        <select class="form-control" name="producto">
                            {% for item in productos %}
                                <option>{{item.descripcion}}</option>  
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Cantidad:</label>
                        <input type="text" class="form-control" name="cantidad_unidades"  value="">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Peso:</label>
                        <input type="text" class="form-control" name="peso"  value="">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Fecha de vencimiento:</label>
                        <input data-date-format="yyyy-mm-dd" name="vencimiento_datepicker" id="datepicker_venc">
                    </div>
                    <button  type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Agregar producto</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="card mb-4">
            <div class="card-header" style="background-color: #A9BA3B;color: black;">
                <i class="fas fa-table me-1"></i>
                Listado de productos
            </div>
            <div class="card-body">
                <form action="/cargar_productos_por_entrada" method="POST">
                    <div class="row align-items-start">
                      <div class="col form-group">
                        <label for="message-text" class="col-form-label">Entrada:</label>
                        <select class="form-control" name="entrada_para_lista">
                            {% for item in entradas %}
                                <option>{{item.id}}</option>  
                            {% endfor %}
                        </select>
                    </div>
                      <div class="col align-self-center">
                        <button  type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Buscar</button>
                      </div>
                    </div>
                </form>
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Peso</th>
                            <th scope="col">Fecha de vencimiento</th>
                            <th scope="col" colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in productos_inventario %}
                        <tr>
                            <td scope="row">{{item.id_producto}}</td>
                            <td scope="row">{{item.cantidad_unidades}}</td>
                            <td scope="row">{{item.peso}}</td>
                            <td scope="row">{{item.vencimiento}}</td>
                            <td>
                                <a
                                    onclick="actualizar('{{item.id}}')"
                                    data-bs-toggle="modal"
                                    data-bs-target="#staticBackdrop"
                                    class="btn btn-warning btn-sm"
                                    >Actualizar
                                </a>
                            </td>
                            <td>
                                <a
                                  onclick="eliminar('{{item.id}}')"
                                  class="btn btn-danger btn-sm">
                                  eliminar
                                </a>
                              </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
  </form> 

  <script>
    function cargar_formulario_benefactor(){
        const formulario = `
            <form action="/nuevo_benefactor" method="POST">
                <div class="container text-center">
                    <h3>Nuevo benefactor</h3>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <input type="text" class="form-control" name="nombre"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nit:</label>
                    <input type="text" class="form-control" name="nit"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Contacto:</label>
                    <input type="text" class="form-control" name="contacto"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Dirección:</label>
                    <input type="text" class="form-control" name="direccion"  value="">
                </div>
                    <div class="modal-footer">
                        <button  type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Guardar</button>
                </div>
            </form> 
        `;
        $("#fromartc").html(formulario);
        }
        function cargar_formulario_vehiculo(){
        const formulario = `
            <form action="/nuevo_vehiculo" method="POST">
                <div class="container text-center">
                    <h3>Nuevo vehículo</h3>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Matrícula:</label>
                    <input type="text" class="form-control" name="matricula"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Tipo:</label>
                    <input type="text" class="form-control" name="tipo"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Capacidad:</label>
                    <input type="text" class="form-control" name="capacidad"  value="">
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Empresa:</label>
                    <input type="text" class="form-control" name="empresa"  value="">
                </div>
                <div class="modal-footer">
                    <button  type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Guardar</button>
                </div>
            </form> 
        `;
        $("#fromartc").html(formulario);
        }

        function eliminar(id){
            url = '/eliminar_producto_inventario';
            var request = $.ajax({
                contentType:"application/json",
                dataType: "json", //Expected data format from server  
                method: "GET",
                data: { id},
                url: url      
            });
            request.done(function( data ) {
                alert("Datos Eliminado")
                window.location.href = "/pagina_nueva_entrada";                
            });
            request.fail(function( jqXHR, textStatus ) {
                alert( "Error" + textStatus );
            });
        }

        

  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script><script type="text/javascript">
    $('#datepicker').datepicker({
        language: 'ES',
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
        
    });
    $('#datepicker').datepicker("setDate", new Date());
    $('#datepicker_venc').datepicker({
        language: 'ES',
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
        
    });
    $('#datepicker_venc').datepicker("setDate", new Date());
    </script>


{% endblock %}