{% extends "layout.html" %}

{%  block content %}

{% include('modal.html') %}

<style>
    .table-striped tbody tr:nth-child(odd) {
        background-color: #d4dd9d;
    }
</style>

<div id="layoutSidenav">
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Productos</h1>
        
                <!-- <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/inicio">Sistema de inventario</a></li>
                    <li class="breadcrumb-item active">Productos</li>
                </ol> -->

                <div class="card mb-4" >
                    <div class="card-header" style="background-color: #A9BA3B;color: black;">
                        Navegación
                    </div>
                    <div class="card-body">
                        <form action="/cargar_categorias_por_bodega" method="POST">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col">
                                        Bodega:
                                    </div>
                                    <div class="col-8">
                                        <select class="form-control" name="bodega">
                                            {% for item in bodegas %}
                                                <option>{{item.nombre}}</option>  
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <a onclick="cargar_formulariobod()" class="btn btn-primary btn-block mb-4 border-0"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #A9BA3B;color: black;">Nueva bodega</a>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Buscar</button>
                                    </div>                       
                                </div>
                            </div>
                        </form>
                        <form action="/cargar_subcategorias_por_categoria" method="POST">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col">
                                        Categoría:
                                    </div>
                                    <div class="col-8">
                                        <select class="form-control" name="categoria">
                                            {% for item in categorias %}
                                                <option>{{item.descripcion}}</option>  
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <a onclick="cargar_formulariocat()" class="btn btn-primary btn-block mb-4 border-0"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #A9BA3B;color: black;">Nueva categoria</a>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Buscar</button>
                                    </div>  
                                </div>
                            </div>
                        </form>
                        <form action="/cargar_productos_por_subcategoria" method="POST">
                            <div class="container">
                                <div class="row justify-content-start">
                                    <div class="col">
                                        Subcategoría:
                                    </div>
                                    <div class="col-8">
                                        <select class="form-control" name="subcategoria">
                                            {% for item in subcategorias %}
                                                <option>{{item.descripcion}}</option>  
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <a onclick="cargar_formulariosub()" class="btn btn-primary btn-block mb-4 border-0"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #A9BA3B;color: black;">Nueva subcategoria</a>
                                    </div>
                                    <div class="col">
                                        <button type="submit" class="btn btn-primary btn-block mb-4 border-0" style="background-color: #A9BA3B;color: black;">Buscar</button>
                                    </div> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <a onclick="cargar_formularioprod()" class="btn btn-primary btn-block mb-4 border-0"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="background-color: #A9BA3B;color: black;">Nuevo producto</a>
                </div>
                <div class="card mb-4">
                    <div class="card-header" style="background-color: #A9BA3B;color: black;">
                        <i class="fas fa-table me-1"></i>
                        Listado de productos
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Subcategoria</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Peso</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in productos %}
                                    <tr>
                                        <td scope="row">{{item.id}}</td>
                                        <td scope="row">{{item.subcategoria}}</td>
                                        <td scope="row">{{item.descripcion}}</td>
                                        <td scope="row">{{item.peso}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Universidad Libre 2023</div>
                </div>
            </div>
        </footer>
    </div>
  </div>
    <script>
        function cargar_formulariobod(){
        const formulario = `
            <form action="/nueva_bodega" method="POST">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombre:</label>
                    <input type="text" class="form-control" name="nombre"  value="">
                </div>
                <div class="modal-footer">
                  <button  type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form> 
        `;
        $("#fromartc").html(formulario);
        }

        function cargar_formulariocat(){
            const formulario = `
                <form action="/nueva_categoria" method="POST">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Bodega:</label>
                        <select class="form-control" name="bodega">
                        {% for item in bodegas %}
                            <option>{{item.nombre}}</option>  
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Descripcion:</label>
                        <input type="text" class="form-control" name="descripcion"  value="">
                    </div>
                    <div class="modal-footer">
                        <button  type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form> 
            `;
            $("#fromartc").html(formulario);
        }

        function cargar_formulariosub(){
        const formulario = `
            <form action="/nueva_subcategoria" method="POST">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Id categoria:</label>
                    <select class="form-control" name="categoria">
                        {% for item in categorias %}
                            <option>{{item.descripcion}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Descripcion:</label>
                    <input type="text" class="form-control" name="descripcion"  value="">
                </div>
                <div class="modal-footer">
                    <button  type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form> 
            `;
            $("#fromartc").html(formulario);
        }

        function cargar_formularioprod(){
            const formulario = `
                <form action="/nuevo_producto" method="POST">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Id subcategoria:</label>
                        <select class="form-control" name="subcategoria">
                        {% for item in subcategorias %}
                            <option>{{item.descripcion}}</option>
                        {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Descripcion:</label>
                        <input type="text" class="form-control" name="descripcion"  value="">
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Peso (Kg):</label>
                        <input type="text" class="form-control" name="peso"  value="">
                    </div>
                    <div class="modal-footer">
                        <button  type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form> 
            `;
            $("#fromartc").html(formulario);
        }
    </script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"
  ></script>
  <script src="js/scripts.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
    crossorigin="anonymous"
  ></script>
  <script src="js/datatables-simple-demo.js"></script>

{% endblock %}