{% extends "layout.html" %}
{%  block content %}
{% include('modal.html') %}

<div id="layoutSidenav">
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Usuarios</h1>
        <a onclick="cargar_formulario()" class="btn btn-primary btn-block mb-4"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">Registrar nuevo usuario</a>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Listado de Usuarios
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Cédula</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in usuario %}
                    <tr>
                      <th scope="row">{{item.id}}</th>
                      <td>{{item.nombre}}</td>
                      <td>{{item.email}}</td>
                      <td>{{item.cedula}}</td>
                      <td>{{item.rol}}</td>
                      <td>
                        <a
                          onclick="eliminar('{{item.id}}')"
                          class="btn btn-danger btn-sm rounded-0"
                          >Eliminar</a
                        >
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>

              <script>
                function cargar_formulario(){
                    const formulario = `
                            <form action="/nuevo_usuario" method="POST">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Correo:</label>
                                <input type="email" class="form-control" name="email"  placeholder="correo@correo.com">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Contraseña:</label>
                                <input type="text" class="form-control" name="password"  value="">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Nombre:</label>
                                <input type="text" class="form-control" name="nombre"  value="">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Cedula:</label>
                                <input type="text" class="form-control" name="cedula"  value="">
                            </div>
                            <div class="form-group">
                                <label for="rol" class="col-form-label">Tipo de Usuario:</label>
                                <select class="form-control" name="rol">
                                    <option value="admin">Administrador</option>
                                    <option value="user">Operario de bodega</option>
                                    <option value="user">Jefe de operaciones</option>
                                    <option value="user">Operario de entradas</option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button  type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                            </form> 
                    `;
                    $("#fromartc").html(formulario);
                }


                function eliminar(id){
                    url = '/eliminar_salida';
                    var request = $.ajax({
                        contentType:"application/json",
                        dataType: "json", //Expected data format from server  
                        method: "GET",
                        data: { id},
                        url: url      
                    });
                    request.done(function( data ) {
                        alert("Datos Eliminado")
                        window.location.href = "/pagina_salidas";                
                    });
                    request.fail(function( jqXHR, textStatus ) {
                        alert( "Error" + textStatus );
                    });
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Universidad Libre 2023</div>
            </div>
        </div>
    </footer>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
  crossorigin="anonymous"
></script>
<script src="js/scripts.js"></script>
<script
  src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
  crossorigin="anonymous"
></script>
<script src="js/datatables-simple-demo.js"></script>

{% endblock %}